<div class="content">
  <div class="flex justify-between space-x-80">
    <div class="">
      <div class="order-first">Free State Enginneers</div>
      <p class="text-xs font-extralight">
        Tender No: 10522 | Due date: {{ dueDate | date : "fullDate" }}
      </p>
    </div>
    <div
      class="bg-orange-600 rounded-full w-16 h-16 flex items-center text-white"
    >
      <p class="p-4 text-xs text-center font-semibold">3/8 steps</p>
    </div>
  </div>
  <h1 class="text-lg font-medium mt-4">Stage 2A</h1>
  <div class="sub-header">
    <h2 class="text-lg font-medium text-gray-600">
      Document to be provided - (Total point 10.0)
    </h2>
  </div>
  <div class="list-content flex justify-between mt-4 px-3">
    <div class="item-list">
        <ol class="list-decimal">
            <li class="text-xs font-extralight">Company Registration Documents (CIPC)</li>
        </ol>
    </div>
    <div class="item-list">
        <p class="bg-orange-300 rounded-full w-11 h-11 flex items-center text-white p-2 text-xs text-center font-semibold">Icons</p>
    </div>
  </div>
</div>
