<div class="content">
  <div class="flex justify-between space-x-80">
    <div class="">
      <div class="order-first">Free State Enginneer</div>
      <p class="text-xs font-extralight">
        Tender No: 10522 | Due date: {{ dueDate | date : "fullDate" }}
      </p>
    </div>
    <div
      class="bg-orange-600 rounded-full w-16 h-16 flex items-center text-white"
    >
      <p class="p-4 text-xs text-center font-semibold">3/8 steps</p>
    </div>
  </div>
  <h1 class="text-lg font-medium mt-4">Stage 2A</h1>
  <div class="sub-header">
    <h2 class="text-lg font-medium text-gray-600">
      Document to be provided - (Total point 10.0)
    </h2>
  </div>
    <div class="list-content mt-4 px-3">
      <ol class="list-decimal space-y-2">
        <div class="flex items-center justify-between">
          <li class="text-xs font-extralight">Company Registration Documents (CIPC)</li>
          <p class="bg-green-500 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-light">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
              </svg>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <li class="text-xs font-extralight">Copy of the key personnel professional Registration (If applicable)</li>
          <p class="bg-gray-400 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>              
          </p>
        </div>
        <div class="flex items-center justify-between">
          <li class="text-xs font-extralight">CV's of key personnel (if applicable)</li>
          <p class="bg-gray-400 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
          </svg>
        </p>
        </div>
        <div class="flex items-center justify-between">
          <li class="text-xs font-extralight">Signed priced financial offer (Table provided in section 2.3)</li>
          <p class="bg-gray-400 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v11.69l3.22-3.22a.75.75 0 1 1 1.06 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0l-4.5-4.5a.75.75 0 1 1 1.06-1.06l3.22 3.22V3a.75.75 0 0 1 .75-.75Zm-9 13.5a.75.75 0 0 1 .75.75v2.25a1.5 1.5 0 0 0 1.5 1.5h13.5a1.5 1.5 0 0 0 1.5-1.5V16.5a.75.75 0 0 1 1.5 0v2.25a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3V16.5a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
              </svg>
          </p>
        </div>
        <div class="flex items-center justify-between">
          <li class="text-xs font-extralight">Bank confirmation letter</li>
          <p class="bg-red-500 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-semibold">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>              
          </p>
        </div>
        <div class="flex items-center justify-between">
            <li class="text-xs font-extralight">Tax clearance (SARS Pin)</li>
            <p class="bg-green-500 rounded-full w-8 h-8 flex items-center justify-center text-white p-2 text-xs font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                  </svg>
            </p>
          </div>
      </ol>
    </div>
  </div>
  


